// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$superhero-red: #ef233c;
$superhero-red-dark: #d90429;
$superhero-background-light: white;
$superhero-gray: #8d99ae;
$superhero-blue-dark: #2b2d42;
$superhero-black: #202020;


