// Specific CSS for your home-page

.site-header {
  position: absolute;
  top: 23rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.site-title {
  font-size: 7rem;
  font-family: $superhero-title-font;
  color: $superhero-black;
}

.site-subtitle span {
  font-weight: bolder;
  color: $superhero-red-dark;
  text-decoration: none;
}

.home-search {
  border: 2px solid $superhero-black;
  border-radius: 5px;
}

.home {
  height: 75vh;
}

.search-super {
  width: 100px;
}

.search-input {
  border-radius: 1px !important;
  width: 400px !important;
}


