.superhero-header-nav {
  display: flex;
  justify-content: space-between;

}


.form-control {
  border-radius: 10px;
}
.book-sidebar{
  color:white;
  background-color: #2b2d42;
  position: fixed !important;
  z-index: 1 !important;

}

.about-content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

}


.share-icon:hover {
  transform: scale(1.1);
}
.favorite-icon:hover {
  transform: scale(1.1);
}
