<h3> Edit your booking </h3>

<div class="col-lg-15">
    <div class="checkout-column mb-5">

      <div class="booking-card">
        <div class="booking-details mb-3">
        </div>
        <div class="booking-form">
          <%= render "edit_booking" %> 
        </div>
      </div>
        </div>
      </div>
    </div>
  </div>






