.dark-rd-btn {
  background-color: $superhero-red-dark;
  color: $superhero-background-light;
  border-radius: 1px;
}

.dark-rd-btn-outline {
  border: 2px solid $superhero-red-dark;
  color: $superhero-blue-dark;
  border-radius: 1px;
  &:hover {
    background-color: $superhero-blue-dark;
    color: $superhero-background-light;
  }
}

.dark-blue-btn-card {
  background-color: white;
  color: $superhero-black;
  border-radius: 1px;
}

.dark-blue-btn {
  background-color: $superhero-black;
  color: white;
  border-radius: 1px;
}

.dark-blue-btn-outline {
  border: 1px solid $superhero-black;
  color: $superhero-black;
  border-radius: 1px;
  font-family: $superhero-body-font;
  &:hover {
    background-color: $superhero-black;
    color: white;
  }
}
