.dark-rd-btn {
  background-color: $superhero-red-dark;
  color: $superhero-background-light;
  border-radius: 5px;
}

.dark-rd-btn-outline {
  border: 2px solid $superhero-red-dark;
  color: $superhero-blue-dark;
  border-radius: 5px;
  &:hover {
    background-color: $superhero-blue-dark;
    color: $superhero-background-light;
  }
}

.dark-blue-btn-card {
  background-color: white;
  color: $superhero-black;
  border-radius: 0 0 5px 5px;
}

.dark-blue-btn {
  background-color: $superhero-blue-dark;
  color: $superhero-background-light;
  border-radius: 5px;
}

.dark-blue-btn-outline {
  border: 1px solid $superhero-blue-dark;
  color: $superhero-blue-dark;
  border-radius: 5px;
  font-family: $superhero-body-font;
  &:hover {
    background-color: $superhero-blue-dark;
    color: $superhero-background-light;
  }
}


.home-search-btn {
  background-color: $superhero-black;
  color: $superhero-background-light;
  border: 1px solid $superhero-black;
  border-radius: 1px;
  &:hover {
    background-color: white;
    color: $superhero-black;
    border: gray;
  }
}

.book-card-button {
  border-radius: 1px;
}









