.superman-carousel {
  width: 600px;
  height: 400px;
  border-radius: 50px 50px 50px 50px;
  overflow: hidden;
}

.carousel-inner {
    border-radius: 35px;
    background-color: black;
    overflow: hidden;
}


.d-block {
  width: 500px;
  height:400px;

}
