

.booked-superhero {
  width: 300px;
  height: 450px;

}

.super-hero-booking-picture {
  width: 200px;
  height: 250px;
  box-shadow: 5px 5px 20px $superhero-gray;
}


.booked-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 0 2rem 0 0;
}

.listings-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 0 2rem 0 0;
}

.booking-details {
  display: flex;

}

.change-btn {
  padding: 5px 8px;
  border-radius: 1px;
  background-color: $superhero-black;
  color: white;
  transition: all 0.2s;
  z-index: 100;
  
}
.change-btn:hover {
  color: white;
  text-decoration: none;
  transform: translateY(-2px);
}

.booked-header h3 {
  font-family: 'Lato', 'sans-serif';
}

.booking-info {
  font-family: 'Lato', 'sans-serif';

}
