.index-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: $superhero-black;
  border-radius: 1px;
  box-shadow: 5px 5px 10px $superhero-gray;
  min-width: 240px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.04);
  }
}

.index-card-image-box {
  position: relative;
}

.price-chip {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: white;
  border: 1px solid $superhero-black;
  padding: 2px;
  color: $superhero-black;
  border-radius: 0px;
}

.superhero-price {
  font-size: 16px;
  margin: 0;
}

.index-card-image {
  border-radius: 1px 1px 0 0;
  width: 100%;
  height: 225px;
  object-fit: cover;
}
// how do I auto size this image to fit the card?

.superhero-name {
  font-size: 20px;
  font-family: $superhero-title-font;
  color: white;
}

.superhero-powers {
  font-size: 14px;
  color: white;
}

.superhero-details {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: white;
}

.superhero-attributes {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
