.navbar-lewagon {
  justify-content: space-between;
  background:  #202020;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $superhero-background-light !important;
}

.fa-user-circle {
  color: white;

}

