.navbar-lewagon {
  justify-content: space-between;
  background:  #202020;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white !important;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-1px);
    color: $superhero-red-dark;
  }
}

.fa-user-circle {
  color: white;
}

.dropdown {
  margin-top: 8px;
}

.navbar-brand {
  font-size: 22px;
}