// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/carousel";
@import "pages/show";

body {
  font-family: 'Lato', sans-serif;
  background-color: $superhero-background-light;
}

.default-container {
  padding: 3rem 7rem;
}



